@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #e8eaf6;
  color: #333;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.block {
  background-color: #ffffff; /* Updated the background color */
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #34568B;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #233B60;
}

.button:active {
  background-color: #182433;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem; /* Added extra spacing between input elements */
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  font-size: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table td,
.table th {
  padding: 1rem; /* Increased padding for table cells */
  border: 1px solid #d7d7d7;
}

.table th {
  background-color: #6573c3; /* Livelier table header color */
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h2 {
  color: #34568B;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}


.button-container {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
  }


/* previous CSS code... */

/* form styles */
.form {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
  color: #34568B;
}

.form-field {
  margin-bottom: 1.5rem;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: border 0.3s ease;
}

.form-input:focus {
  border-color: #34568B;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #34568B;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #233B60;
}

.form-footer {
  text-align: center;
  margin-top: 1.5rem;
}

/* dashboard styles */
.day-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; /* Added extra spacing between day rows */
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
}

.time-slot {
  display: flex;
  margin-right: 2rem; /* Added extra spacing between time slots */
}

.add-time-slot {
  margin-left: auto;
}

.save-button {
  width: 100%;
}
